actionlib==1.12.1
angles==1.9.12
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.28
click==7.1.2
cloudpickle==1.6.0
contextvars==2.4
controller-manager==0.18.2
controller-manager-msgs==0.18.2
cv-bridge==1.13.0
cycler==0.10.0
dask==2020.12.0
dataclasses==0.8
diagnostic-analysis==1.9.5
diagnostic-common-diagnostics==1.9.5
diagnostic-updater==1.9.5
distributed==2020.12.0
dynamic-reconfigure==1.6.3
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
HeapDict==1.0.1
image-geometry==1.13.0
immutables==0.14
interactive-markers==1.11.5
joblib==1.0.0
joint-state-publisher==1.12.15
kdl-parser-py==1.13.1
kiwisolver==1.3.1
laser-geometry==1.6.5
libtmux==0.8.5
matplotlib==3.3.3
message-filters==1.14.9
msgpack==1.0.2
numpy==1.19.5
pandas==1.1.5
Pillow==8.1.0
pkg-resources==0.0.0
psutil==5.8.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2020.5
PyYAML==5.3.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.6
rosbag==1.14.9
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.9
roslaunch==1.14.9
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.9
rosmake==1.14.9
rosmaster==1.14.9
rosmsg==1.14.9
rosnode==1.14.9
rosparam==1.14.9
rospy==1.14.9
rosservice==1.14.9
rostest==1.14.9
rostopic==1.14.9
rosunit==1.14.9
roswtf==1.14.9
rqt-action==0.4.9
rqt-bag==0.4.14
rqt-bag-plugins==0.4.14
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.9
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.9
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.13
scikit-learn==0.24.0
scipy==1.5.4
sensor-msgs==1.12.7
six==1.15.0
sklearn==0.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
sortedcontainers==2.3.0
tblib==1.7.0
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
threadpoolctl==2.1.0
toolz==0.11.1
topic-tools==1.14.9
torch==1.7.1
tornado==6.1
typing-extensions==3.7.4.3
urdfdom-py==0.4.3
xacro==1.13.7
zict==2.0.0
